# Rust build artifacts
/target

# rustfmt backup files
**/*.rs.bk

# perf / flamegraph
perf.data
perf.data.old
flamegraph.svg

# Environments / secrets
.env
.envrc

# Editor / IDE
.idea/
.vscode/

# OS
.DS_Store
